.log {
    position: absolute;
    left: 1050.49px;
    top: 668.36px;
    width: 241.9px;
    height: 65.19px;
    gap: 23.56px;
}

.reddit {
    width: 65.19px;
    height: 65.19px;
}

.linkedin {
    width: 64.4px;
    height: 64.4px;
}

.insta {
    width: 65.19px;
    height: 65.19px;
}