.btn {
    background-color: #8A77FF;
    color: black;
    font-weight: 100px;
    border: none;
    font-size: 31.8px;
    border-radius: 10px;
    margin: 0px 116.17px;
    width: 177px;
    height: 53px;
    align-content: center;
    cursor: pointer;
    margin-bottom: 200px;
}

