.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.top_btn {
    display: flex;
    gap: 32px; 
}

.control_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.control_form input {
    
    width: 100%;
    height: 40px;
    padding: 0 8px;
}

.control_form label {
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
}

.control_form textarea {
    padding: 8px;
}